body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article {
		font-size: 20px;
		text-align: center;
}

ul {
	list-style: none;
	border-radius: 10px;
	width: 70%;
	border: solid 1px gray;
	padding: 5px;
}

li {
	padding: 4px;
}

input {
	outline-style: none;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 2px;
	font-size: 15px;
	background-color: aqua;
}

.button_block > input:hover {
	background-color: blue;
	transition: .2s ease;
	color: white;
}

.button_block {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {	  
	font-size: 250px;
	margin: 0;
	text-align: center;
}
